.Skills {
    background-color: var(--charcoal);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h1 {
        color: var(--cultured) !important;
        opacity: 100%;
        justify-self: flex-start;
    }

    div {
        height: 70%;
        width: 80vw;
        text-align: center;
    }
}