.About {
    overflow: hidden;
    align-items: center;

    h1 {
        margin-top: 10vmin !important;
    }

    .AboutMe {
        display: flex;
        margin-bottom: 10vmin !important;
        width: 85vw;

        .HeadShot img {
            border-radius: 80%;
        }
    }

    .AboutText {
        text-align: center;

        div:first-child {
            height: 100%;
            padding: 0vh 3vw !important;
            display: flex;
            flex-direction: column;
            gap: 2vh;
            justify-content: center;

            p,
            h2,
            h3 {
                text-align: left;
            }
        }
    }

}