.About {
    overflow: hidden;
    align-items: center;

    .AboutMe {
        display: flex;
        width: 85vw;

        .HeadShot {
            display: flex;
            justify-content: center;
            align-items: center;


            img {
                border-radius: 80%;
                width: 40vmin;
            }
        }
    }

    .AboutText {
        text-align: center;

        div:first-child {
            height: 100%;
            padding: 0vh 3vw !important;
            display: flex;
            flex-direction: column;
            gap: 2vh;
            justify-content: center;

            p,
            h2,
            h3 {
                text-align: left;
            }
        }
    }

}