.NavBar {

    .Links {
        display: flex;
        gap: 5vmin;
    }

    .Links a {
        text-decoration: none;
    }

    .Navigation {
        opacity: 95%;
    }

    .Social-Media {
        opacity: 95%;
        font-size: smaller;
    }

    @media screen and (max-width: 960px) {
        transition: 0.8s all ease;
    }
}

.Sticky-NavBar {
    position: fixed;
    top: 0;
}

.CurrentPage {
    background-color: var(--charcoal);
    color: var(--cultured);
}