.Footer {
    background-color: var(--feldgrau);
    height: 10vh;

    p {
        color: var(--cultured);
        align-self: center;
        margin-bottom: 2vh !important;
        font-size: 0.75em;
    }
}